.btn{
    border-radius: 8px;
    padding: 10px 20px;
    align-items: 'center';
    border: 1px solid var(--medium-gray);
    background-color: var(--white-color);
}

.btn:hover{
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--alert-color);
}

.primaryBtn{
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    background-color: var(--primary-color);
  }

.primaryBtn:hover{
    background-color: var(--button-hover-color);
}

.closeBtn:hover{
    background-color: var(--medium-gray);
}
